{% extends "admin/base.html" %} {% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="mb-5" action="/adminhome/timeline" method="POST" enctype="multipart/form-data">
                        <h2>Add new timeline</h2>
                        <hr>
                        <div class="mb-3">
                          
                          <input type="text" class="form-control" name="timeline_year" placeholder="Year of timeline..">
                          
                        </div>
                        <div class="mb-3">
                          
                            <input type="text" class="form-control" name="timeline_description" placeholder="Timeline Description..">
                            
                          </div>
                          <div class="mb-3">
                          
                            <input type="text" class="form-control" name="timeline_number" placeholder="Timeline Number..">
                            
                          </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                      </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">All timeline</h4>
                        <h6 class="card-subtitle">Add project <code>.table</code></h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Year</th>
                                        <th>Description</th>
                                        <th>Number</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in timelines %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.timeline_year}}</td>
                                        <td>{{i.timeline_description}}</td>
                                        <td>{{i.timeline_number}}</td>
                                        <td><a href="/adminhome/timeline/delete/{{i.id}}"><i class="bi bi-trash-fill"></i></a></td>
                                        <td><a href="/adminhome/timeline/update/{{i.id}}"><i class="fas fa-pencil-alt"></i></a></td>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
{% endblock %}